
 <div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Project Title</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of project">
                <td>{{detail.title}} </td>
                <td>{{detail.description}}</td>
                <td>{{detail.categoryId}}</td>
            </tr>
        </tbody>
    </table>
</div>


